[submodule "themes/hugograyscale"]
	path = themes/hugograyscale
	url = https://github.com/runningstream/hugograyscale.git
[submodule "public"]
	path = public
	url = git@github.com:dw109/dw109.github.io.git
	branch = master
